In [3]:
# Modulo 1: Practica

# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [4]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [6]:
# Estos es una prueba de las lineas comentas en Python

In [7]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [8]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (3628399183.py, line 3)

In [10]:
print("This will be printed")
# frint("This will cause an error") Imprime unicame el error
print("This will NOT be printed")

This will be printed
This will NOT be printed

In [13]:
# EJERCICIO 1

# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hola Mundo!')

# Write your code below. Don't forget to press Shift+Enter to execute the cell

print('Hola Mundo!') # Print the traditional hello world

Hola Mundo!
Hola Mundo!

In [14]:
# Integer

11

11

In [15]:
# Float

2.14

2.14

In [16]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [17]:
# Type of 12

type(12)

int

In [18]:
# Type of 2.14

type(2.14)

float

In [19]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [20]:
# EJERCICIO 2

# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [21]:
# Print the type of -1

type(-1)

int

In [22]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [23]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [24]:
float(2)

2.0

In [25]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [28]:
# Casting 1.1 to integer will result in loss of information

int(1.8)

1

In [31]:
round(1.8, 1)

1.8

In [32]:
# Convert a string into an integer

int('1')

1

In [33]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [35]:
float('1.2")

SyntaxError: EOL while scanning string literal (1893025344.py, line 1)

In [36]:
# Convert 1 to boolean

bool(1)

True

In [37]:
# Convert 0 to boolean

bool(0)

False

In [40]:
# EJERCICIO 3
# What is the data type of the result of: 6 / 2?
print(6 / 2)
type(6 / 2) # Float

3.0

float

In [42]:
# What is the type of the result of: 6 // 2?
print(6 // 2)
type(6 // 2) # Entero porque el modelo de 6 entre 2  es 3.

3

int

In [43]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [44]:
# Subtraction operation expression

50 - 60

-10

In [45]:
# Multiplication operation expression

5 * 5

25

In [46]:
# Division operation expression

25 / 5

5.0

In [47]:
# Division operation expression

25 / 6

4.166666666666667

In [48]:
# Integer division operation expression

25 // 5

5

In [49]:
# Integer division operation expression

25 // 6

4

In [51]:
# EJERCICIO 4
# Let's write an expression that calculates how many hours there are in 160 minutes:
# Mediante una regla de 3 simple sabes que 1 hora tiene 60 minutos entonces 160 minutos cuantas horas ser√°n:

print('Son ', round((1 * 160) / 60, 2), ' horas')

Son  2.67  horas

In [53]:
# Mathematical expression
print(30 + 2 * 60)
print((30 + 2) * 60)
30 + 2 * 60 == (30 + 2) * 60

150
1920

False

In [54]:
x = 43 + 60 + 16 + 41

In [55]:
x

160

In [56]:
y = x / 60
y

2.6666666666666665

In [57]:
x = x / 60
x

2.6666666666666665

In [58]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [59]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [60]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [65]:
# EJERCICIO 5
# What is the value of x where x = 3 + 2 * 2
x = 3 + 2 * 2 # 7
print(x)

# What is the value of y where y = (3 + 2) * 2
y = (3 + 2) * 2 # 10
print(y)

# What is the value of z where z = x + y?
z = x + y # 17
print(z)

7
10
17

In [66]:
## PRACTICA CON CADENAS

In [68]:
"Michael Jackson"

'Michael Jackson'

In [69]:
name = "Michael Jackson"
name

'Michael Jackson'

In [70]:
print(name[0])

M

In [71]:
print(name[13])

o

In [72]:
print(name[-15])

M

In [73]:
len("Michael Jackson")

15

In [74]:
name[::2]

'McalJcsn'

In [75]:
name[0:5:2]

'Mca'

In [76]:
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [77]:
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [78]:
name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [79]:
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [80]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [83]:
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

c = b.lower()
print("After lower:", c)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM
After lower: thriller is the sixth studio album

In [84]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [85]:
name = "Michael Jackson"
name.find('el')

5

In [86]:
name.find('Jack')

8

In [87]:
name.find('Jasdfasdasdf')

-1

In [96]:
# EJERCICIO 6
# What is the value of the variable a after the following code is executed?
a = "1" # 1 como string

print(a)

# What is the value of the variable b after the following code is executed?
b = "2"

print(b)

# What is the value of the variable c after the following code is executed?
c = a + b

print(c)

# Consider the variable d use slicing to print out the first three elements:
d = "ABCDEFG"

print(d[:3])

# Use a stride value of 2 to print out every second character of the string e
e = 'clocrkr1e1c1t'

print(e[::2])

# Print out a backslash:
print(r"\ ")

# Consider the variable g, and find the first index of the sub-string snow:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

print(g.find("snow"))

# In the variable g, replace the sub-string Mary with Bob:
print(g.replace("Mary", "Bob"))

1
2
12
ABC
correct
\
95
Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

In [98]:
name = 'Lizz'
print(name[0:1])

L

In [99]:
var = '01234567'
print(var[::2])

0246